<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "head.html" . }}
<body class="light-mode">
    <header class="navbar">
        {{ partial "navbar.html" . }}
    </header>
    <div id="navscreen" class="navscreen hide-in-desktop">
        {{ partial "navscreen.html" . }}
    </div>
    <div class="container">
        <aside class="profile-card hide-in-mobile">
            {{ partial "profile-card.html" . }}
        </aside>
        <main class="main-content">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    <footer class="footer">
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
